*{
    padding: 0;
    margin: 0;
}
html, body{
    overflow-x: hidden;
}
.navbar-expand-lg .navbar-collapse {

    margin-right: 200px;
}
.btn-metka{
    color: #424242;
    position: relative;
    z-index: 1;
    text-decoration: none;
    border: 1px solid;
    padding: 9px 13px 11px;
    background: none;
    font: inherit;
    display: inline-block;
    color: inherit;
    border-radius: 10px;
    transition: ease-out 0.5s;
    cursor: pointer;
}
.btn-metka:hover{
    color: #fff;
    border-color: #19a54b;
    background-color: #19a54b;
}

.carousel-dark .carousel-caption {
    color: #fff;
    margin-bottom: 300px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;

    color: white;
}

.metka{
    font-size: 60px;
    display: block;
    color: white;
    text-decoration: none;  }

.tel{
    text-decoration: none!important;
    color:black; 
}


.mb-lg-0 {
    margin: 0 auto;
    margin-bottom: 0!important;
}

.navbar-expand-lg {
    /* background-color: #8585858f; */

}
.navbar {
    width: 1920px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.carousel {
    position: absolute;
}


.con{
    position: absolute;

}
.conn{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-direction: column;
    justify-content: center;

}
#ash{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}
#ashh{
    font-size: 40px;
}
/* PARALAX */
.parallax-1 {
    background-image: url(img/sl.png);
    height: 500px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    background-position: 0pc 109px;
    /* background-size: 1903px 653px; */
    background-repeat: no-repeat;
}

.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}
.parallax h1 {
    z-index: 3;
}

/* ПАРАЛАХ БЛОКИ */
.block-paralax-1{
    /* margin-bottom: 100px; */
    /* margin-top: 60px; */
    font-size: 25px;
    height: 880px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #8080802b;

}
.container-paralax-block-1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 1520px;
    margin-bottom: 50px;
}
/* ЦАРГОВЫЕ */
.img-dver-char-1{
    background-image: url(img/chargovay-1.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-char-1:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-char-2{
    background-image: url(img/chargovay-2.png);
    width: 280px;
    height: 656px;
}
.img-dver-char-2:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-char-3{
    background-image: url(img/chargovay-3.png);
    width: 280px;
    height: 656px;
}
.img-dver-char-3:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-char-4{
    background-image: url(img/chargovay-4.png);
    width: 280px;
    height: 656px;
}
.img-dver-char-4:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-char-5{
    background-image: url(img/chargovay-5.png);
    width: 280px;
    height: 656px;
}
.img-dver-char-5:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
/* ШТАМПОВАНЫЕ */
.block-paralax-2{
    height: 500px;
    width: 1900px;
}

.img-dver-shtamp-1{
    background-image: url(img/shtamp-1.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-shtamp-1:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-shtamp-2{
    background-image: url(img/shtamp-2.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-shtamp-2:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

}
.img-dver-shtamp-3{
    background-image: url(img/shtamp-3.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-shtamp-3:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
}

/* ВИДЫ СТЕКЛА */
.block-paralax-3{
    height: 500px;
    width: 1900px;
}
.img-dver-steclo-1{
    background-image: url(img/stecklo-1.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-steclo-1:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
}
.img-dver-steclo-2{
    background-image: url(img/stecklo-2.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-steclo-2:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
}
.img-dver-steclo-3{
    background-image: url(img/stecklo-3.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-steclo-3:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
}
.img-dver-steclo-4{
    background-image: url(img/stecklo-4.png);
    width: 280px;
    height: 656px;
    
}
.img-dver-steclo-4:hover{
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
}




.block-paralax-4{
    height: 500px;
    width: 1900px;
}


.block-paralax-2 {
    /* margin-bottom: 100px; */
    /* margin-top: 40px; */
    font-size: 25px;
    height: 880px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}
.block-paralax-3 {
    /* margin-bottom: 100px;
    margin-top: 40px; */
    font-size: 25px;
    height: 880px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #8080802b;


}
.block-paralax-4{
    /* margin-top: 40px; */
    font-size: 25px;
    height: 880px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 100px; */
}


/* код */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: background-color 0.3s;
  }
#nav{
    position: fixed;
    z-index: 4;
    transition: background-color 0.5s;

}

/* KNOPKA */
.infobutton{
    margin: 0 auto;
    width: 260px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(0, 255, 0);
    display: block;
    font-size: 25px;
    border-width: 0;
    text-rendering: auto;
    font-weight: 500;
}

.infobutton:hover {
    font-size: 27px;
    background: rgb(37, 196, 37);
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);
  }
  
  .infobutton:focus {
    outline: none;
    box-shadow: 0 0 0 4px #00a560;
    box-shadow: 0px 0px 10px 3px rgb(32, 168, 32);

  }
  .infobutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(159, 255, 130);
    transform: translateY(4px);
    
  }
  .infobutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



/* VIDEO */
.vidio{
    width: 100%;
}
.vide{
    margin: 0 auto;
    width: 180vh;
}
/* Модальное окно */

.btn-metka-btn{
    color: #424242;
    position: relative;
    z-index: 1;
    text-decoration: none;
    border: 0px solid;
    padding: 27px 138px 626px;
    background: none;
    font: inherit;
    display: inline-block;
    color: inherit;
    border-radius: 0px;
    transition: ease-out 0.5s;
    cursor: pointer;
}
.btn-metka-btn:hover{

}
/* fooooooooooooooot */
.btn-primary1 {
    font-weight: 500;
    color: #000;
    /* background-color: #0d6efd; */
    /* border-color: #0d6efd; */
}
.offset-1 {
    width: 385px;
    margin-left: 42%;
}
.col-2 {
    text-align: center;
    flex: 0 0 auto;
    width: 20%;
}
.col-3 {
    text-align: center;
    flex: 0 0 auto;
    width: 25%;
}
.imgg{
    width: 50px;
}
.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 0rem!important;
}
#py-4 {
    padding-top: 1.5rem!important;

}
#py-5 {
    background: #8c8c8c;
    padding-top: 3rem!important;
    padding-bottom: 0rem!important;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.row {
    justify-content: center;
}
.texttt{

}
#justify-content-between {
    justify-content: space-evenly!important;
    padding-bottom: 0rem!important;
    margin-bottom: 0rem!important;
}
.modal-body {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    flex-direction: column;
}
#mod {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.cvet{
    display: flex;
}
.cvet-1{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 100px;
    margin-right: 30px;
}
.cve{

}
.cvet-1-m-1-1{
    width: 50px;
    height: 50px;
    background: #E0DFDF;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-1-m-1-2{
    width: 50px;
    height: 50px;
    background: #E0D8D2;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-1-m-5-1{
    width: 50px;
    height: 50px;
    background: #B5B8BB;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-1-m-5-2   {
    width: 50px;
    height: 50px;
    background: #CE9C6E;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-2-m-1-1   {
    width: 50px;
    height: 50px;
    background: #F1F0F1;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-2-m-2-1   {
    width: 50px;
    height: 50px;
    background: #65321E;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-2-m-2-2   {
    width: 50px;
    height: 50px;
    background: #CD7B41;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-2-m-3-1  {
    width: 50px;
    height: 50px;
    background: #65321E;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-2-m-3-2   {
    width: 50px;
    height: 50px;
    background: #D7B386;
    border-radius: 100px;
    margin-right: 30px;
}
.cvet-3-m-1-1   {
    width: 50px;
    height: 50px;
    background: #DCDDDD;
    border-radius: 100px;
    margin-right: 30px;
}

.cvet-3-m-1-2   {
    width: 50px;
    height: 50px;
    background: #211A17;
    border-radius: 100px;
    margin-right: 30px;
}





/* FOOTER */
/* footer{
    
    margin-top: 100px;

    /* width: 1903px; 
    background-color: #424242;
    height: 430px;
}
.logo-footer{
    width: 60px;
    margin: 40px 0 0 40px;
}

.text-footer-1{
    margin-top: 50px;
    font-size: 30px;
}
.con-footer-1{
    display: flex;
    justify-content: space-between;
}
.text-footer-1-1{
    margin-right: 40px;
    margin-top: 50px;
    font-size: 30px;
}

.con-footer-1-1{
    display: flex;
    align-items: center;
}

.con-footer-2{
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.con-footer-text-2{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans Regular';
    color: white;
}
.con-footer-2-2{
    margin-top: 30px;
}
.con-footer-2-2-2{
    margin-right: 40px;
    margin-top: 30px;
}

.footer-img{
    cursor: pointer;
    margin: 20px;
    width: 80px;
    margin-top: 30px;
}
.footer-img-1{
    cursor: pointer;
    margin: 20px;
    width: 164px;
    margin-top: 30px;
}

.copy{
    color: white;
    font-size: 18px;
    margin-left: 40px;

}

.hr-1{
    margin-top: 30px;
    border: 1px solid rgb(171 171 171);

}

.hr-2{
    margin-top: 70px;
    margin-bottom: 5px;
    border: 1px solid rgb(171 171 171);

} */










/* Адаптация  */
@media (max-width: 1240px) {
    
    .navbar {
        width: 1240px;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .vidio{
        width: 1240px;
        height: 690px;
    }
  }

  @media (max-width: 360px) {
    .navbar {
        width: 360px;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

      
      #nav.active {
        display: block;
      }
      
      #nav.colored {
        background-color: green;
      }
      .parallax-1 {
        background-image: url(img/sl.png);
        height: 200px;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 60px;
        align-items: center;
        position: relative;
        background-size: 554px 372px;
        background-position: -120px 78px;
  }
}